<form class="form-horizontal row span9">
    <script type="text/javascript">
        function updateLang() {
            var ext_to_mode = {
                ".cpp": "c_cpp",
                ".c": "c_cpp",
                ".pas": "pascal",
                ".py": "python",
                ".php": "php",
                ".java": "java"
            }
            var el = document.getElementsByName("language")[0];
            if (el.editor.filename.search(".%l") != -1)
                el.editor.getSession().setMode("ace/mode/" + ext_to_mode[el.value]);
            var ins = document.getElementById("ibform").getElementsByTagName("input");
            for (var txt=0; txt < ins.length; txt++)
                ins[txt].name = ins[txt].id.replace(".%l", el.value);
        }
        function updateFile(filen) {
            var ed = document.getElementsByName("language")[0].editor;
            document.getElementById(ed.filename).value = ed.getValue();
            var file = document.getElementById(filen);
{% if len(task.submission_format) > 1 %}
            document.getElementById("ctrl_" + ed.filename).classList.remove("active")
{% end %}
            ed.filename = filen;
{% if len(task.submission_format) > 1 %}
            document.getElementById("ctrl_" + ed.filename).classList.add("active")
{% end %}
            ed.setValue(file.value);
            if (ed.filename.search(".%l") == -1)
                ed.getSession().setMode("ace/mode/plaintext")
        }
    </script>
    <div class="control-group span5 offset2">
        <label class="control-label" for="language">{{ _("Language:") }}</label>
        <select name="language" onchange="updateLang()">
{% for lang in task.contest.languages %}
            <option value="{{ LANGUAGE_TO_SOURCE_EXT_MAP[lang] }}">{{ LANGUAGE_NAMES[lang] }}</option>
{% end %}
        </select>
    </div>
</form>
<div class="span9 row">
{% if len(task.submission_format) > 1 %}
    <ul class="nav nav-pills nav-stacked span2">
{% for sfe in task.submission_format %}
        <li><a id="{{ 'ctrl_' + sfe.filename }}" onclick="updateFile('{{ sfe.filename }}')">{{ sfe.filename.replace(".%l", "") }}</a></li>
{% end %}
    </ul>
{% end %}
    <script src="/static/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <div class="{{ 'span7' if len(task.submission_format) > 1 else 'span9' }}" id="ace_editor">
        <div id="editor" style="height:400px" class="{{ 'span7' if len(task.submission_format) > 1 else 'span9' }}">{{ _("Write your code here") }}</div>
    </div>
</div>
<form class="form-horizontal row span9" enctype="multipart/form-data" action="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/submit" method="POST" id="ibform">
{% for sfe in task.submission_format %}
    <input type="hidden" id="{{ sfe.filename }}" />
{% end %}
    <div class="control-group span1 offset4">
        <button type="submit" class="btn btn-success">{{ _("Submit") }}</button>
    </div>
</form>
<script type="text/javascript">
    var editor = ace.edit("editor");
    var first_file = "{{ task.submission_format[0].filename }}"
    editor.setTheme("ace/theme/textmate");
    editor.setShowPrintMargin(false);
    editor.filename = first_file;
    editor.getSession().on('change', function (e) {
        document.getElementById(editor.filename).value = editor.getValue();
    });
    document.getElementsByName("language")[0].editor = editor;
    updateLang();
    updateFile(first_file);
</script>
