{{ range $host, $containers := groupBy $ "Env.VIRTUAL_HOST" }}

upstream upstr{{ $host }} {

{{ range $index, $value := $containers }}
    {{ with $address := index $value.Addresses 0 }}
    server {{ $address.IP }}:8888;
    {{ end }}
{{ end }}

}

upstream upstr{{ $host }}-admin {

{{ range $index, $value := $containers }}
    {{ with $address := index $value.Addresses 0 }}
    server {{ $address.IP }}:8889;
    {{ end }}
{{ end }}

}

upstream upstr{{ $host }}-ranking {

{{ range $index, $value := $containers }}
    {{ with $address := index $value.Addresses 0 }}
    server {{ $address.IP }}:8890;
    {{ end }}
{{ end }}

}

{{ end }}

server {
    listen 80 default_server;

    gzip_types text/plain text/css application/json application/x-javascript
               text/xml application/xml application/xml+rss text/javascript;

    server_name srv;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Scheme $scheme;

{{ range $host, $containers := groupBy $ "Env.VIRTUAL_HOST" }}
    location /{{ $host }} {
        proxy_pass http://upstr{{ $host }};
    }

    location /{{ $host }}/aws {
        proxy_pass http://upstr{{ $host }}-admin;
        auth_basic "Login for {{ $host }} admin panel";
        auth_basic_user_file htpasswd/{{ $host }};
    }

    location /{{ $host }}/rws {
        proxy_pass http://upstr{{ $host }}-ranking;
{{ range $index, $value := $containers }}
    {{ if eq $value.Env.PUBLIC_RANKING "2" }}
        auth_basic "Login for {{ $host }} ranking";
        auth_basic_user_file htpasswd/{{ $host }}-rws;
    {{ else if eq $value.Env.PUBLIC_RANKING "0" }}
        auth_basic "Login for {{ $host }} ranking";
        auth_basic_user_file htpasswd/{{ $host }};
    {{ end }}
{{ end }}
    }
{{ end }}
}

server {
    listen 443 default_server ssl;

    ssl_certificate /etc/nginx/ssl/allenamenti.crt;
    ssl_certificate_key /etc/nginx/ssl/allenamenti.key;

    gzip_types text/plain text/css application/json application/x-javascript
               text/xml application/xml application/xml+rss text/javascript;

    server_name srv;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Scheme $scheme;

{{ range $host, $containers := groupBy $ "Env.VIRTUAL_HOST" }}
    location /{{ $host }} {
        proxy_pass http://upstr{{ $host }};
    }

    location /{{ $host }}/aws {
        proxy_pass http://upstr{{ $host }}-admin;
        auth_basic "Login for {{ $host }} admin panel";
        auth_basic_user_file htpasswd/{{ $host }};
    }

    location /{{ $host }}/rws {
        proxy_pass http://upstr{{ $host }}-ranking;
{{ range $index, $value := $containers }}
    {{ if eq $value.Env.PUBLIC_RANKING "2" }}
        auth_basic "Login for {{ $host }} ranking";
        auth_basic_user_file htpasswd/{{ $host }}-rws;
    {{ else if eq $value.Env.PUBLIC_RANKING "0" }}
        auth_basic "Login for {{ $host }} ranking";
        auth_basic_user_file htpasswd/{{ $host }};
    {{ end }}
{{ end }}
    }
{{ end }}
}
